<!DOCTYPE html>
<html>
<head>
	<title>Algorithm</title>
	<link rel="stylesheet" type="text/css" href="/css/algorithm_style.css">
</head>
<body>
	<input type = "number" id = "input_field">
	<button class = "button">ADD</button>
	<button class = "button">START</button>
	<div>choose the algo : 
		<select name = "algos" id="algos">Algorithm
		<option value = "bubble">Bubble Sort</option>	
		<option value="selection">Selection Sort</option>	
		<option value ="Insertion">Insertion Sort</option>	
		</select>
	</div>


	<div id = "pop_up">

	</div>
	<div id = "display_bar_section">
		
	</div>
</body>
<script type="text/javascript" src = "/js/algorithm_script.js"></script>
</html>