<!DOCTYPE html>
<html>
<head>
	<title>Algorithm</title>
</head>
<body>
	<input type = "number" id = "input_field">
</body>
<script type="text/javascript" src = "/js/algorithm_script.js"></script>
</html>