<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>Algorithm</title>
	<link rel="stylesheet" type="text/css" href="/css/algorithm_style.css">
</head>
<body>

	<div id="bg"class="disp">

            <h1 id="header" class="heading">Algorithm</h1>
    </div>

	<div id ="search_area">
		<div id = "input_area">
			<input type = "number" id = "input_field" min="0">
		</div>	
		<div>	
			<button class = "button">ADD</button>
		</div>
		<div>	
			<button class = "button">START</button>
		</div>
	</div>

	<div id = "display_section">

	<div id = "option_area"> 
		<div id="algo_options">
			<select name = "algos" id="algos">Algorithm
			<option value = "bubble">Bubble Sort</option>	
			<option value="selection">Selection Sort</option>	
			<option value ="quick">Quick Sort</option>	
			</select>
		</div>
		<div class ="div_erase">
			<button class="erase_all">Wipe Out</button>
		</div>
		<div class ="div_erase">
			<button class = "erase_all" id="random_btn">Random</button>
		</div>
	</div>
	<div id= "display_bar_section">
	</div>		


	<div id="description">
		<div id = "pivot">
		<div class="info_color" id = "pivot_div"></div>pivot
		</div>
		<div id = main>
		<div class="info_color" id = "main_div"></div>main
		</div>
		<div id = "swap">
		<div class="info_color" id = "swap_div"></div>swap
		</div>
	</div>	
	</div>

	<%- include('footer'); %>
</body>
<script type="text/javascript" src = "/js/algorithm_script.js"></script>
</html>