<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content = "width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/art_generator_style.css">
	<title>ART GENERATOR</title>
</head>
<body>
	<div id="main">
		<h1>ART GENRATOR</h1>
	</div>
	<a id="download" download="my_canvas" href="">click to download</a>
	<div id="canvas_div">
		<canvas id ="canvas" width = "1000" height = "400"></canvas>
	</div>
</body>
<script type="text/javascript" src="/js/art_generator_script.js"></script>
</html>