<html>
    <head>
        <title>Regex</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
        <link rel="stylesheet" href="css/external.css">
        <script src="js/effects.js"></script>
    </head>
    <body>
        <div id="navbar"><div></div>
            <a href="algorithm">Algorithms</a>
            <a href="regex">Regex</a>
            <a href="binary">Binary</a>
          </div>
          <div id="section">
        <div id="bg"class="disp">
            <h1 id="header" class="heading">BINARY CONVERTION</h1>
        </div>
        

        <div id="visid" class="disp">
       
    
    </div>

    <div id="visid" class="disp">
   

        

        </div>

    <div class="disp"></div>
</div></body>
</html>