<div id=foot>
  <link rel="stylesheet" type="text/css" href="/css/footer_style.css">
          <div id="logo">
            <img src="/css/logo_green.png" height = "100px">
          </div>
          <div id="github_link">
            <a href = "https://github.com/edwinjoy27/Procode">
             <img src="/css/github.png" height = "50px"></a>
          </div>
          <div id = "team_name">
            Created by : 3 Musketeers
        </div>
    </div>