<!DOCTYPE html>
<html>
<head>
	   <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/gradient_style.css">
	<title>Gradient Match</title>
</head>
<body>
	<div id = "head"><h1>Gradient Match</h1></div>

	<div id = "color_display">
		<div id = "btn_container">
		<button id = "slide_btn"> > </button>
		</div>

	</div>
</body>
<script type="text/javascript" src="/js/gradient_script.js"></script>
</html>