<html>
    <head>
        <title>PROCODE_HOME</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
        <link rel="stylesheet" href="css/home_style.css">
        
    </head>
    <body>
        
          <div id="section">
        <div id="bg">
            <h1 id="header" class="heading">PROCODE</h1>
            <p id="tagline">Nobody is a PRO</p>
        </div>
        

        <div id="visid" class="disp">
       
    
        <div class="vis">
            <h3 class="heading2"><a  href="algorithm">Algorithms</a></h3>
            <h1>{}</h1>
            <p>A simple visualiser that will give you an idea about how some of the major sorting algorithms work</p>
        </div>

        <div class="vis">
            <h3 class="heading2"><a  href="regex">Regex</a></h3><h1>[*/-]</h1>
            <p>RegEx is a shortform for regular expression which is commonly used in many programming languages for different validation, here we provide you with a cheatsheet of some.</p>
        </div>

        <div class="vis"> 
                <h3 class="heading2"><a  href="binary">ASCII</a></h3>
                <h1>Λ</h1>
                <p>ASCII stands for the "American Standard Code for Information Interchange".

ASCII is a 7-bit character set containing 128 characters.

It contains the numbers from 0-9, the upper and lower case English letters from A to Z, and some special characters.</p>
        </div>
            <br>
        </div>
    <%- include('footer'); %>
  </body>
      <script src="js/home_script.js"></script>

</html>