<html>
    <head>
        <title>PROCODE_HOME</title>
        <link rel="stylesheet" href="css/external.css">
        <script src="js/effects.js"></script>
        
    </head>
    <body>
        <div id="navbar"><div></div>
            <a href="algorithm.ejs">Algorithms</a>
            <a href="#news">Regex</a>
            <a href="#contact">Binary</a>
          </div>
          <div id="section">
        <div id="bg"class="disp">
            <h1 id="header" class="heading">P R O C O D E</h1>
        </div>
        

        <div id="visid" class="disp">
       
    
        <div class="vis">
            <h3 class="heading2">Algorithms</h3>
        </div>

        <div class="vis">
            <h3 class="heading2">Regex</h3>
        </div>

        <div class="vis"> 
                <h3 class="heading2">Binary</h3>
        </div>

        </div>
        <div class="disp"></div>
    </div></body>

</html>