<html>
    <head>
        <title>PROCODE_HOME</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
        <link rel="stylesheet" href="css/external.css">
        <script src="js/effects.js"></script>
        
    </head>
    <body>
        
          <div id="section">
        <div id="bg"class="disp">
            <h1 id="header" class="heading">P R O C O D E</h1>
        </div>
        

        <div id="visid" class="disp">
       
    
        <div class="vis">
            <h3 class="heading2"><a  href="algorithm">Algorithms</a></h3>
        </div>

        <div class="vis">
            <h3 class="heading2"><a  href="regex">Regex</a></h3>
        </div>

        <div class="vis"> 
                <h3 class="heading2">Binary</h3>
        </div>
            <br>
        </div>
        <div id=foot class="disp"></div>
    </div></body>

</html>