 <div id="navbar"><!-- <div></div> -->
 <link rel="stylesheet" type="text/css" href="/css/navbar_style.css">
             <a href="/">Home
                <!--<button class="btn"><i class="fa fa-home"></i></button> --> 
            </a>
            <a href="algorithm">Algorithms</a>
            <a href="regex">Regex</a>
            <a href="binary">Ascii</a>
            <script src="js/effects.js"></script>
 </div>