<html>
    <head>
        <title>Regex</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
        <link rel="stylesheet" href="css/external.css">
        <script src="js/effects.js"></script>
    </head>
    <body>
        <div id="navbar"><div></div>
            <a href="algorithm">Algorithms</a>
            <a href="regex">Regex</a>
            <a href="binary">Binary</a>
          </div>
          <div id="section">
        <div id="bg"class="disp">

            <h1 id="header" class="heading">REGEX</h1>
        </div>
        

        <div id="visid">
       
       <div class = "seperation"> 
            <div class="vis">
                <h3 class="heading2">Password</h3>
                <P>/^[a-zA-Z0-9!@#$%^&*]{6,16}$/</P>
                 <!-- <p>Here,  where \w matches any word character (alphanumeric) including the underscore (equivalent to [A-Za-z0-9_]). </p> -->
                </div>

             <div class="vis">
                    <h3 class="heading2">Visa</h3><p>/^(?:4[0-9]{12}(?:[0-9]{3})?)$/</p>
                    <!-- <p>A validating credit card is an important point while receiving payment through an HTML form</p> -->
                </div>
                   
                   <div class="vis">
                <h3 class="heading2">Zip Code</h3><p>/^\d{5}$/</p>
            </div>

                <div class="vis">
                <h3 class="heading2">Alphabetic Data</h3><p> /^[a-zA-Z]+$/</p>
            </div>


              <div class="vis">
                <h3 class="heading2">Removing Spaces and Dashes</h3><p>/[ -]+/g</p>
            </div>

                <div class="vis">
                <h3 class="heading2">Mastercard</h3><p>/^(?:5[1-5][0-9]{14})$/</p>
            </div>
                   
            <div class="vis">
                <h3 class="heading2">Email</h3><p>/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/</p>
            </div>

        

            <div class="vis"> 
                    <h3 class="heading2">Phone Number</h3><p>/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/</p>

            </div>
        <!-- </div> 
            
        <div class = "seperation">  -->    
                
    
            <div class="vis"> 
                    <h3 class="heading2">URL</h3>
                    <p>/[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi</p>
            </div>
             <div class="vis">
                <h3 class="heading2">Removing Non-digits</h3><p> /\D/g</p>
            </div>

            <div class="vis">
                <h3 class="heading2"> Removing Nonaplhanumeric Characters</h3><p>/\W/g</p>
            </div>

        </div>     
    
     </div>

        <div class="disp"></div>
    </div></body>
</html>