<html>
    <head>
        <title>Regex</title>
        <link rel="stylesheet" href="ext.css">
        <script src="js/effects.js"></script>
    </head>
    <body>
        <div id="navbar"><div></div>
            <a href="algorithm">Algorithms</a>
            <a href="regex">Regex</a>
            <a href="#contact">Binary</a>
          </div>
          <div id="section">
        <div id="bg"class="disp">
            <h1 id="header" class="heading">R &nbsp; E &nbsp; 
                G  &nbsp;  E &nbsp; X</h1>
        </div>
        

        <div id="visid" class="disp">
       
    
        <div class="vis">
            <h3 class="heading2">Password</h3><P>/^[a-zA-Z0-9!@#$%^&*]{6,16}$/</P>
        </div>

        <div class="vis">
            <h3 class="heading2">Email</h3><p>/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/</p>
        </div>

        <div class="vis"> 
                <h3 class="heading2">Phone Number</h3><p>/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/</p>
        </div>

        </div>

        <div id="visid" class="disp">
       
    
            <div class="vis">
                <h3 class="heading2">visa</h3><p>/^(?:4[0-9]{12}(?:[0-9]{3})?)$/</p>
            </div>
    
            <div class="vis">
                <h3 class="heading2">mastercard</h3><p>/^(?:5[1-5][0-9]{14})$/</p>
            </div>
    
            <div class="vis"> 
                    <h3 class="heading2">Binary</h3>
            </div>
    
            </div>

        <div class="disp"></div>
    </div></body>
</html>