#section{
    display: flex;
    height: 190%;
    flex-direction: column;
   }
#bg{
    background-color: black;
}
.disp{
   margin:2%;
  height: 100%;
   border:1px solid black;
}
body{
   background-color: black;
   
}
body,html{
   margin: 0px;
   height: 100%;
   font-family: 'Courier New', monospace;
   text-align: center;
}
#visid{
    display:flex;
    flex-direction: row;
}
.vis{
    width:-webkit-fill-available;
    height:-webkit-fill-available;
    margin:4px;
     border:1px solid black;
     background: white;
  
}
#header{
    top: 0;
    transition: 0.2s;
    margin-top: 10%;
    color: white;
}

.heading2{
    margin-top: 10%;
    color: black;
}
#navbar {margin-left: 37%;
    padding-right: 60%;
    align-items: center;
    text-align: center;
    background-color: black;
    position: fixed;
    top: -150px;
    width: 100%;
    display: block;
    transition: top 0.3s;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
    align-items: center;
    
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
    align-items: center;
    text-align: center;
  }
  #hide{
        align-items: center;
  };