body,html{
  margin: 0px;
  height: 100%;
  width: 100%;
/*     overflow-x: hidden; */
  font-family: 'Courier New', monospace;

}

#section{
   display: flex;

   min-height : 130%;
   flex-direction: column;
   background-color:#c5c6c7;
  
  }
  
#bg{
/*     background-color: black; */
background-color : rgb(0,0,0,0.3);
}
.disp{
 padding-top : 90px;
  margin:2%;
 height: 250px;
 border-radius:10px;
 text-align : center;
 overflow-wrap : break-word
 

}
body{
  background-color: black;
  
}

#visid{
   display:flex;
   flex-direction: row;
   flex-wrap : wrap;
}
.vis{
/*     width:-webkit-fill-available; */
/*     height:-webkit-fill-available; */
/*      max-width: 10px; */
    max-width : 5450px;
    padding-left : 15px;
    padding-right : 15px;
    margin:4px;
    background: #efefef;
    border-radius:10px;
    box-shadow: 5px 5px  5px #777a78 ;
    overflow-wrap: break-word;
    
}
#header{
   letter-spacing : 55px;
  padding : 0% 25%;
   top: 0;
   transition: 0.2s;
/*     margin-top: 10%; */
   color: #efefef;
   font-size:60px;

}

.heading2{
/*     margin-top: 10%; */
   color:rgb(0,0,0,0.3);
}
#navbar {
/*     padding-left: 30%;
   padding-right:30%; */
   align-items: center;
   text-align: center;
   background-color: black;
   position: fixed;
   top: -150px;
   width:-webkit-fill-available;
/*     width: 100%; */
   display: block;
   transition: top 0.3s;
 }
 
 #navbar a {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 15px;
   text-decoration: none;
   font-size: 17px;
   align-items: center;
   
 }
 
 #navbar a:hover {
   background-color: #ddd;
   color: black;
   align-items: center;
   text-align: center;
 }
 #hide{
       align-items: center;

 }

 .seperation{
 
/*     margin-left :px; */
   align-items : center;
   padding : 0px 40px;
/*     width : 50%; */
   display : flex;
   flex-direction : row;
   flex-wrap : wrap;
   margin-top:45px;
    margin-bottom:45px;

/*    margin : 8px;
 */
 }
 .btn {
   background-color: #c5c6c7;
   border: none;
   color: black;
   padding: 4px 6px;
   font-size: 30px;
   cursor: pointer;
 }

