
#foot{
  
/*   padding-left : 85px; */
  padding-left : 7%;
/*   padding-right : 7%; */
  padding-right : 22px;
  margin-top : 2%;
  min-height : 150px;
  display : flex;
  display : row;
  flex-wrap : wrap;
  color : white;
  background-color: rgb(0,0,0)
/*  background-color : rgb(0,0,0,0.3); */
  
}

#logo{

/*   padding-left : 50%; */
  margin : 27px;
  margin-top : 45px;

  width: 15%;
}

#github_link{

   margin : 27px;
   padding-top : 30px ;
   padding-left : 1.7%;
  width : 45%;

  text-align : center;
}

#team_name{
  
  padding-top : 50px;
/*   padding-left : 25px; */
   margin : 27px;

  width : 250px;

  text-align : center;
/*   padding-right : 2%; */
}
